.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: blue;
}

.Map {
  background-color: rgb(102, 102, 102);
  margin: 0;
  width: 60%;
  height: 100vh;
}

.Draggable {
  position: absolute;
  cursor: move;
}

.Draggable-Icon {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}